<div class="dashboard-container">
    <div class="left-menu">
        <md-list>
            <md-list-item>
                <a md-button [routerLink]="['general']" routerLinkActive="active">General</a>
            </md-list-item>
            <md-list-item>
                <a md-button [routerLink]="['photos']" routerLinkActive="active">Photos</a>
            </md-list-item>
            <md-list-item>
                <a md-button [routerLink]="['settings']">Settings</a>
            </md-list-item>
        </md-list>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>