<div class="upload-photo-container">
    <h3>Upload new photo</h3>

    <div class="row">
        <md-select placeholder="Category" class="full-width" [(ngModel)]="model.category">
            <md-option *ngFor="let category of categoriesList" [value]="category">
                {{ category }}
            </md-option>
        </md-select>
    </div>

    <div class="row">
        <md-input-container class="full-width">
            <input mdInput placeholder="Name" [(ngModel)]="model.name">
        </md-input-container>
    </div>

    <div class="row">
        <md-input-container class="full-width">
            <textarea mdInput name="description" placeholder="Description" [(ngModel)]="model.description"></textarea>
        </md-input-container>
    </div>

    <div class="row">
        <input type="file" name="image_file" ng4-file-submit>
    </div>

    <div class="row btns-row">
        <button md-raised-button color="primary" (click)="uploadPhoto()">Submit</button>
    </div>
</div>
