<div id="app-container" [class.main-page]="router.isActive('/home')">
    <div class="top-menu">
        <a [routerLink]="['/']">
            <img src="/assets/images/logo1.png">
        </a>

        <div class="navigation-menu">
            <a [routerLink]="['/category', 'bw']" routerLinkActive="active">b&w</a>
            <a [routerLink]="['/category', 'colour']" routerLinkActive="active">colour</a>
            <a [routerLink]="['/category', 'mobile']" routerLinkActive="active">mobile</a>
            <a [routerLink]="['/category', 'info']" routerLinkActive="active">info</a>
        </div>

        <div class="space-to-right"></div>

        <div class="follow-me-container">
            <div class="row">FOLLOW ME</div>
            <div class="row">
                <a href=""><img src="/assets/images/social/facebook.png"></a>
                <a href=""><img src="/assets/images/social/instagram.png"></a>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>