#app-container {
    min-height: 100vh;
    background-size: cover;
}

#app-container.main-page {
    background-image: url(/assets/images/bg.jpg);
}

.top-menu {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
}

.navigation-menu {
    padding-left: 20%;
    /*margin-right: 20%;*/
    font-size: 28px;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.navigation-menu > a {
    color: #000;
    padding: 10px;
    margin-right: 50px;
    text-decoration: none;
}

.navigation-menu > a:hover, .navigation-menu > a.active  {
    background-color: transparent;
    box-shadow: 0 0 1pt 1pt #000;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.follow-me-container {
    display: flex;
    flex-direction: column;
}

.follow-me-container .row {
    display: flex;
    justify-content: space-between;
}

.follow-me-container img {
    width: 30px;
}