<h3>Uploaded photos</h3>

<div class="flex-container btns-container">
    <md-select placeholder="Filter by category" [(ngModel)]="filter.category" [multiple]="true" (change)="filterPhotosList($event)">
        <md-option *ngFor="let category of categoriesList" [value]="category">
            {{category}}
        </md-option>
    </md-select>
</div>

<div class="flex-container btns-container">
    <a md-raised-button color="accent" (click)="openUploadDialog()">Upload new</a>
    <!--<a md-raised-button color="warn">Delete</a>-->
</div>

<div class="flex-container photos-container">
    <app-photo-card *ngFor="let photo of filteredPhotos" [photo]="photo"
                    (photoDeleted)="onPhotoDeleted($event)" (photoUpdated)="onPhotoUpdated($event)"></app-photo-card>
    <h4 *ngIf="filteredPhotos?.length === 0">No photos.</h4>
</div>
