.photo-card {
  width: 250px;
  margin-bottom: 24px;
  margin-right: 24px;
}

md-card-header {
  margin-bottom: 5px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000
}