<md-card class="photo-card">
    <md-card-header>
        <div md-card-avatar>
            <div class="circle">
                {{getCategoryShort(photo.category)}}
            </div>
        </div>
        <md-card-title>{{photo.name}}</md-card-title>
        <md-card-subtitle>{{photo.description}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/uploads/small-{{photo.filename}}">
    <md-card-actions>
        <button md-button (click)="editPhoto()">EDIT</button>
        <button md-button (click)="openDeleteDialog()">DELETE</button>
    </md-card-actions>
</md-card>
