.photo-detailed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    width: auto;
    max-height: 70vh;
    align-self: center;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    margin-top: 16px;
    margin-left: 20%;
}

.share img {
    height: 24px;
}

.navigation  i {
    font-size: 34px;
    cursor: pointer;
}

.name, .share, .navigation {
    width: 33%;
}