<div class="photo-detailed-container" *ngIf="photo">
    <img class="photo" src="/uploads/large-{{photo.filename}}">

    <div class="details">
        <div class="name">
            {{photo.name}}
        </div>
        <div class="share">
            <a href=""><img src="/assets/images/social/share.png"></a>
            <a href=""><img src="/assets/images/social/facebook.png"></a>
            <a href=""><img src="/assets/images/social/twitter.png"></a>
        </div>
        <div class="navigation">
            <i class="material-icons" *ngIf="showPhotoObj.next_id" [routerLink]="['/detailed', showPhotoObj.next_id]">navigate_before</i>
            <i class="material-icons" [routerLink]="['/category', photo.category]">view_module</i>
            <i class="material-icons" *ngIf="showPhotoObj.prev_id" [routerLink]="['/detailed', showPhotoObj.prev_id]">navigate_next</i>
        </div>

    </div>
</div>