<md-toolbar color="primary">
    <span>Admin</span>
    <span class="space-to-right"></span>

    <section *ngIf="authService.authUser">
        <md-menu #authedMenu="mdMenu">
            <button md-menu-item> Profile</button>
            <button md-menu-item (click)="doLogout()"> Logout</button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="authedMenu">
            {{authService.authUser.email}}
            <md-icon>arrow_drop_down</md-icon>
        </button>
    </section>

    <section *ngIf="!authService.authUser">
        <button md-button [routerLink]="['/admin', 'auth', 'login']">Login</button>
    </section>

</md-toolbar>

<angular4-notify-notifications-container></angular4-notify-notifications-container>

<div class="admin-container">
    <router-outlet></router-outlet>
</div>
