<div class="delete-photo-container">
    <p>Delete <u>{{photo.name}}</u> photo?</p>

    <div class="row">
        <a md-raised-button color="warn" (click)="deletePhoto()">Delete</a>
        <a md-raised-button color="default" (click)="cancel()">Cancel</a>
    </div>
</div>