@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.loader-container img {
    max-height: 100px;
}

/*
 Common used styles
 */
.space-to-right {
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-self-end {
    align-self: flex-end;
}

.full-width {
    width: 100%;
}