.photo-preview-container img {
    width: 400px;
}

.photo-preview-container img:hover {
    opacity: 0.5;
}

.photo-preview-container {
    margin-bottom: 20px;
}

.photo-preview-container img {
    cursor: pointer;
}

.open-full {
    font-size: 40px;
}