<div class="photo-preview-container" [routerLink]="['/detailed', photo.id]">
    <img src="/uploads/small-{{photo.filename}}">
    <!--<i class="material-icons open-full">open_with</i> TODO show as overlay-->
</div>