<div class="auth-container">
    <md-card>
        <md-card-header>
            <md-card-title>Login</md-card-title>
        </md-card-header>

        <md-card-content>
            <md-input-container>
                <input mdInput placeholder="Email" [(ngModel)]="model.email">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Password" type="password" [(ngModel)]="model.password">
            </md-input-container>
        </md-card-content>

        <md-card-actions>
            <button md-raised-button color="primary" (click)="login()">Login</button>
        </md-card-actions>
    </md-card>
</div>
