.category-container {
    /*width: 100%;*/

    /*column-count: 2;*/
    /*-moz-column-count: 2;*/
    /*-webkit-column-count: 2;*/
    /*column-gap: 2em;*/
    column-width: 400px;
    /*column-fill: balance;*/

    text-align: center;
    /*margin: 20px;*/
}

@media (max-width: 700px) {
    .category-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .category-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .category-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1400px) {
    .category-container {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
